<!DOCTYPE html>
<html>
<head>

<title>Industrial Safety Dashboard</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<h1>Industrial Safety Monitoring System</h1>

<div class="container">

<div class="card">
<h2>Status</h2>
<h1 id="status">SAFE</h1>
</div>

<div class="card">
<h2>Temperature</h2>
<h1><span id="temp">0</span> °C</h1>
</div>

<div class="card">
<h2>Humidity</h2>
<h1><span id="hum">0</span> %</h1>
</div>

<div class="card">
<h2>Vibration</h2>
<h1><span id="vib">0</span></h1>
</div>

<div class="card">
<h2>Gas</h2>
<h1 id="gas">CLEAR</h1>
</div>

</div>

<script src="/static/script.js"></script>

</body>
</html>
