# ==========================
# STM32CubeIDE
# ==========================

**/Debug/
**/Release/

**/.settings/
**/.metadata/

*.launch
*.o
*.d
*.su
*.map
*.elf
*.bin
*.hex

# ==========================
# ESP32 (Arduino)
# ==========================

**/build/
*.ino.cpp

# ==========================
# Python / Flask
# ==========================

__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# ==========================
# Linux
# ==========================

*~
*.swp

# ==========================
# VS Code
# ==========================

.vscode/

# ==========================
# OS Files
# ==========================

.DS_Store
Thumbs.db
